.header-logo {
  height: 50px;
}

@media (max-width: 576px) {
  .header-logo {
    height: 30px;
  }
  .d-phone-none {
    display: none !important;
  }
}

.arrow {
  border: solid #fa5240;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
