.headerContainer {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
}

.textContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formControl {
  margin: 1px;
  min-width: 200px;
}

.scrollGrid {
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  padding: 5px;
}

.loading {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 120;
}
